#logo{
    float: right;
}
#topnav
{
    background-color: black;
    width: 100%;
    height: 50px;
    border-radius: 15px;
}

#topnav-asli{
    color: #E3EB00;
    margin-right: 5%;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1%;
    text-decoration: none;
}
#topnav-sabad{
    color: #E3EB00;
    margin-right: 32%;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1%;
    text-decoration: none;
}
#topnav-hesab{
    color: #E3EB00;
    margin-right: 5%;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1%;
    text-decoration: none;
}

#topnav-cart{
    width: 20px;
    margin-right: 10px;
    float: right;
    margin-top: 15px;
}

#topnav-account{
    width: 16px;
    margin-right: 10px;
    float: right;
    margin-top: 15px;
}

body{
    background-color: #B3B3B3;
    background-image: url("img/backgound.svg");
    background-size: 100%;
    background-repeat: no-repeat;

    
}
#sec1{
    float: right;
    margin-top: 140px;
    margin-right: 650px;
}

#matn1{
    color: white;
    direction: rtl;
    font-size:x-large;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btn-1{
    color: white;
    text-decoration: none;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    direction: rtl;
    font-size:large;
    font-weight: bold;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    margin-left: 20px;
}
#sec2{
    background-image: url("img/background2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 634px;
    width: 100%;
    height: 900px;
}
#matn2{
    float:right;
    width: 560px;
    color: white;
    direction: rtl;
    font-size:x-large;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 10px;

}
#btn-2{
    float:right;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #E3EB00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    direction: rtl;
    font-size:small;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    margin-right: 0px;
    margin-top: 100px;
}

#grntee{
position:absolute   ;
}






/* slider */

.slider {
    width: 100%;
    height: 500px;
    position: relative;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  .slider::-webkit-scrollbar {
    display: none;
  }
  
  .slider .slide {
    display: flex;
    position: absolute;
    left: 0;
    transition: 0.3s left ease-in-out;

  }
  
  .slider .item {
    margin-right: 10px;
  }
  
  .slider .item:last-child {
    margin-right: 0;
  }
  
  .ctrl {
    text-align: center;
    margin-top: 5px;
  }
  
  .ctrl-btn {
    padding: 20px 20px;
    min-width: 50px;
    background: #E3EB00;
    border: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;
  
    position: absolute;
    top: 50%;
    margin-top: -27.5px;
  }
  
  .ctrl-btn.pro-prev {
    left: 0;
  }
  
  .ctrl-btn.pro-next {
    right: 0;
  }





/* footer */

  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  #footer-img{

    width: 100%;
      height: 200px;
  }

  .top-right {
      color: white;
    position: absolute;
    top: 90px;
    right: 335px;
    font-weight: bold;
    text-decoration: none;
  }