#logo{
    float: right;
}
#topnav
{
    background-color: black;
    width: 100%;
    height: 50px;
    border-radius: 15px;
}

#topnav-asli{
    color: #E3EB00;
    margin-right: 5%;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1%;
    text-decoration: none;
}
#topnav-sabad{
    color: #E3EB00;
    margin-right: 32%;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1%;
    text-decoration: none;
}
#topnav-hesab{
    color: #E3EB00;
    margin-right: 5%;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1%;
    text-decoration: none;
}

#topnav-cart{
    width: 20px;
    margin-right: 10px;
    float: right;
    margin-top: 15px;
}

#topnav-account{
    width: 16px;
    margin-right: 10px;
    float: right;
    margin-top: 15px;
}

body{
    
    background-image: url("backgound.svg");
    background-size: 100%;
    background-repeat: no-repeat;

    
}
#sec1{
    float: right;
    margin-top: 140px;
    margin-right: 650px;
}

#matn1{
    color: white;
    direction: rtl;
    font-size:x-large;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btn-1{
    color: white;
    text-decoration: none;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    direction: rtl;
    font-size:large;
    font-weight: bold;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    margin-left: 20px;
}

